body {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(218,218,218);
    background-image: linear-gradient(0deg, rgba(165,165,165) 0%, rgba(218,218,218) 100%);
    font-family: 'Red Hat Display', sans-serif;
}

/* End of General */

.nav-bar {
    height: 100px;
    width: 100%;
   position: fixed;
   top: 0;
   background-color: rgba(217,217,217, 1.0); 
}

.nav-title {
    display: inline-block;
    font-size: 30px;
    margin-top: 25px;
    margin-left: 40px;
}

.nav-list {
    float: right;
    margin-right: 40px;
}

.list-item {
    float: left;
    list-style-type: none;
    margin: 10px 10px 10px 5px;
    font-size: 30px;
}
.list-item a {
    text-decoration: none;
    color: rgb(0, 0, 0)
}
.list-item a:visited {
    color: rgb(0, 0, 0);
}

.hero {
    height: 670px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 100px;
    top: 0;

}

.hero-image {
    width: 100%;
}
.box {
    height: 120vh;
    width: 100%;
    text-align: center;
}

.box-1 {
    background-color: rgb(255, 255, 255);
}

.box-2 {
    background-color: rgb(245, 245, 245)
}

.box-3 {
    background-color: rgb(235, 235, 235)
}

.box-4 {
    background-color: rgb(225, 225, 225)
}

.box-5 {
    background-color: rgb(215, 215, 215)
}

.box-6 {
    background-color: rgb(205, 205, 205)
}

.box-7 {
    background-color: rgb(195, 195, 195)
}

.box-8 {
    background-color: rgb(185, 185, 185)
}

.box-9 {
    background-color: rgb(175, 175, 175)
}

.box-10 {
    background-color: rgb(165, 165, 165)
}

.box-text {
    display: inline-block;
    font-size: 50px;
    margin: 450px 15px 0 15px;
}

.box-text1 {
    margin-top: 500px
}

.container {
    height: 7000;
    width: 100%;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: rgba(165, 165, 165, 0);
}
.footer-box {
    width: 33%;
    height: 80px;
    background-color: rgb(247, 246, 234, 0);
}

.social, .input {
    top: 25px;
    left: 50px;
    margin-left: 35px;
    text-align: center;
}

.social {
    position: relative;
    height: 40px;
    width: 220px;
    left: -195px;
    background-color: rgb(165, 165, 165);

    display: inline-block;
}

.social:hover {
    left: -30px;
    transition-timing-function: linear;
    transition-duration: 0.1s;
}

.fab, .fas {
    font-size: 40px;
    margin-left: 15px;
    overflow: hidden;
}
.fa-instagram {
    color: rgb(0, 0, 0);
}
.fa-twitter {
    color: rgb(0, 0, 0);
}
.fa-facebook-f {
    color: rgb(0, 0, 0);
}

/********** Start of About Style **********/

.column-parent {
    width: 100%;
    height: 700px;
    margin-top: 100px;
}

.column {
    width: 32%;
    height: 700px;
    float: left;
    background-color: rgb(255, 255, 255, 0);
    margin: 9px;
}

.about-text {
    margin: 0 15% 0 15%;
}

.column-photo {
    width: 70%;
    margin: 75px 15% 15px 15%;
}

.column-map {
    margin: 75px 15% 15px 15%;
}

.column-video {
    margin: 75px 15% 15px 15%;
}

/********** Start of Contact Styles **********/

.contact-parent {
    margin-top: 100px;
    width: 100%;
    height: 700px;
}

.form-container {
    height: 400px;
    width: 400px;
    margin-left: 40px;
}